@model RellenoBD.horario_seccion

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Horario - Seccion</h2>

<h3 style="color:red">¿Estás Seguro que quieres eliminar esto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Horario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario.Id)
        </dd>

        <dt>
            Sala
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sala.Nombre)
        </dd>

        <dt>
            Seccion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seccion.Numero)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a Lista", "Index")
        </div>
    }
</div>
