@model RellenoBD.horario_seccion

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalles Horario - Seccion</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Horario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario.Id)
        </dd>

        <dt>
            Sala
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sala.Nombre)
        </dd>

        <dt>
            Seccion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seccion.Numero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a Lista", "Index")
</p>
