@model IEnumerable<RellenoBD.pago>

@{
    ViewBag.Title = "Lista";
}

<h2>Pagos de Alumnos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            Fecha Vencimiento
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concepto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            Alumno
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem =>  item.FechaVenc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alumno.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
