@model RellenoBD.horario

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalles de Horario</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hora Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>

        <dt>
            Hora Fin
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraFin)
        </dd>

        <dt>
            Día
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia.Dia_Semana)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a Lista", "Index")
</p>
