@model RellenoBD.seccion

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Seccion</h2>

<h3 style="color:red">¿Estás Seguro que quieres eliminar esto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            Asignatura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asignatura.Nombre)
        </dd>

        <dt>
            Docente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.docente.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a Lista", "Index")
        </div>
    }
</div>
